<form class ="hero-unit">
  <fieldset>
    <legend>Ты самая необычная девушка на свете</legend>
    <p> Ты та девушка, которую я ждал всю свою жизнь, мы с тобой так похожи,</p>
    <p> у нас с тобой одинаковые интересы, мы с тобой даже мыслим одинаково</p>
    <p> Мы с тобой самые настоящие родственные души</p>

  </fieldset>
</form>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href= "#tab1"  data-toggle="tab">Мои статьи</a></li>
    <li><a href= "#tab2"  data-toggle="tab">Статьи моих друзей</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p>Здесь хранятся мои рассказы.</p>
    </div>
    <div class="tab-pane" id="tab2">
      <p>Здесь хранятся чужие истории.</p>
    </div>
  </div>
</div>