<!-- adds gray background from site-->
<div class="hero-unit">
<h1>Доброе утро, моя сладкая! :-*</h1>

<p>
      Сегодня необычный день, день Всех Влюбленных.
      <%= link_to "Medium", "#" %>
      Я решил приготовить тебе небольшой подарок.
</p>
<p>
	<%= link_to "Перейти дайльше", about_path, class: "btn btn-primary btn-large" %>
</p>
</div>